<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- important to load jquery before bootstrap js -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Edit listing</title>
</head>

<body>
    <h1> Edit </h1>
    <!-- POST request with a method override to make it a PATCH -->
    <!-- patches "/comments/{commentID}" to replace the 'comment' value of that item-->
    <form method="post" action="/listings/<%=listing.id%>?_method=PATCH">
        <textarea name="description" id="" cols=" 30" rows="10">
            <%= listing.description %>
        </textarea>
        <button>Update listing</button>
    </form>
</body>

</html>